.form strong {
  font-size: 20px;
  text-align: center;
  display: block;
  color: #333;
}

.form form {
  margin-top: 30px;
}

.form form .input-block + .input-block {
  margin-top: 20px;
}

.TextFieldBlock{
  width: 100%;
}

.floatRight{
  float: right;
}

.deleteIcon{
  margin-top: 10px;
  color: red;
  cursor: pointer;
}

form button[type="submit"] {
  width: 100%;
  border: 0;
  margin-top: 30px;
  background: #3498db;
  border-radius: 2px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background 0.5s;
}

form button[type="submit"]:hover {
  background: #1f7fc0;
}

.ListContainer {
  background: #fff;
  padding: 15px;
  margin: 5px;
  box-shadow: 0px 0px 2px #888;
}

.ListContainer .ListHeader{
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}

.ListContainer .ListHeader .ListTitle{
  text-align: center;
  text-transform: uppercase;
  color: #666;
}

.fullWidth{
  width: 100%;
}

.selectBox{
  margin-top: 30px;
}

/* Header */
.header {
  flex-grow: 1,
}
.menu{
  background-color: #1f7fc0 !important;
  margin-bottom: 15px;
}
.menuTitle {
  flex-grow: 1;
  text-decoration: none;
  color:#fff;
}

.menuItem {
  padding: 15px;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  margin: 0 10px;
}

.menuButton{
  margin-right: 10px;
  background: none;
  border: none;
}

.filtrarRegistros{
  width: 100%;
  align-content: center;
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 30px 20px;
  margin: 20px auto;
  margin-bottom: 30px;
}

.btnCadastrar{
  background: #16a085;
  display: inline-block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  border-radius: 3px;
  float: right;
  margin-right: 2%;
  margin-bottom: 2%;
  font-size: 1.2em;
  text-transform: uppercase;
}